.titulo{
	font-size: 80px;
	color:#4F55B8;
	background-color: #ACF0FD;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
}

.titulo .sub{
	font-size: 30px;
	color:#5080B8;
	line-height: 10%;
	letter-spacing: 5px;
}

a{
	text-decoration: none;
}

a:link{
	color:#0956C1;
}

a:visited{
	color:#0956C1;
}

a:hover{
	color:purple;
}

body{
	background-color: #ACF0FD;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
}

button{
	cursor: pointer;
	border: 2px solid #4F55B8;
	background-color: #ACF0FD;
	padding: 1%;
	width: 10%;
	font-size: 20px;
	color: #4F55B8;	
}

button:active{
	background-color: white;
}

ul{
	font-size: 125%;
	width: 80%;
	padding: 0;
	text-align: left;
}

ul li
{
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

ul li:nth-child(even) {
    background-color: #eee;
}

ul li:nth-child(odd) {
   background-color:#fff;
}

li#nueva{
	list-style-type: disc;
}


@media screen and (max-width : 532px)
{
  .titulo
  {
    font-size:40px;
    color:#4F55B8;
  }
  .titulo .sub
  {
  	font-size: 20px;
  }
}


@media screen and (max-width : 401px)
{
  
  .titulo .sub
  {
  	font-size: 10px;
  }

  ul{
	font-size: 80%;
  }
}

@media screen and (max-width : 273px)
{
  .titulo .sub
  {
  	font-size: 0;
  	color:#4F55B8;
  }
}